@font-face {
  font-family: 'aw-awesome';
  src: url('/assets/fonts/aw-awesome/aw-awesome.eot?b5yg2j');
  src: url('/assets/fonts/aw-awesome/aw-awesome.eot?b5yg2j#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/aw-awesome/aw-awesome.ttf?b5yg2j') format('truetype'),
    url('/assets/fonts/aw-awesome/aw-awesome.woff?b5yg2j') format('woff'),
    url('/assets/fonts/aw-awesome/aw-awesome.svg?b5yg2j#aw-awesome')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='aw-icon-'],
[class*=' aw-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aw-awesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aw-icon-list:before {
  content: '\e92a';
}
.aw-icon-lock:before {
  content: '\e92b';
}
.aw-icon-check-inactive:before {
  content: '\e928';
  color: #ccd2d7;
}
.aw-icon-checked:before {
  content: '\e929';
  color: #00d46c;
}
.aw-icon-icon-tooltip:before {
  content: '\e924';
}
.aw-icon-msg-error:before {
  content: '\e925';
  color: #fb2525;
}
.aw-icon-msg-success:before {
  content: '\e926';
  color: #00d46c;
}
.aw-icon-msg-black:before {
  content: '\e927';
}
.aw-icon-last-call-inative .path1:before {
  content: '\e917';
  color: rgb(242, 245, 247);
}
.aw-icon-last-call-inative .path2:before {
  content: '\e918';
  margin-left: -1em;
  color: rgb(204, 210, 215);
}
.aw-icon-last-call .path1:before {
  content: '\e919';
  color: rgb(0, 212, 108);
}
.aw-icon-last-call .path2:before {
  content: '\e91a';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.aw-icon-frozen:before {
  content: '\e91b';
}
.aw-icon-expand-arrow-left:before {
  content: '\e91c';
}
.aw-icon-expand-arrow-left-hover .path1:before {
  content: '\e91d';
  color: rgb(0, 0, 0);
}
.aw-icon-expand-arrow-left-hover .path2:before {
  content: '\e91e';
  margin-left: -1.154296875em;
  color: rgb(242, 245, 247);
}
.aw-icon-expand-arrow-left-hover .path3:before {
  content: '\e91f';
  margin-left: -1.154296875em;
  color: rgb(60, 60, 60);
}
.aw-icon-expand-arrow-right:before {
  content: '\e920';
}
.aw-icon-expand-arrow-right-hover .path1:before {
  content: '\e921';
  color: rgb(0, 0, 0);
}
.aw-icon-expand-arrow-right-hover .path2:before {
  content: '\e922';
  margin-left: -1.154296875em;
  color: rgb(242, 245, 247);
}
.aw-icon-expand-arrow-right-hover .path3:before {
  content: '\e923';
  margin-left: -1.154296875em;
  color: rgb(60, 60, 60);
}
.aw-icon-logo .path1:before {
  content: '\e911';
  color: rgb(14, 135, 146);
}
.aw-icon-logo .path2:before {
  content: '\e912';
  margin-left: -2.9423828125em;
  color: rgb(14, 135, 146);
}
.aw-icon-logo .path3:before {
  content: '\e913';
  margin-left: -2.9423828125em;
  color: rgb(14, 135, 146);
}
.aw-icon-logo .path4:before {
  content: '\e914';
  margin-left: -2.9423828125em;
  color: rgb(14, 135, 146);
}
.aw-icon-logo .path5:before {
  content: '\e915';
  margin-left: -2.9423828125em;
  color: rgb(242, 171, 41);
}
.aw-icon-logo .path6:before {
  content: '\e916';
  margin-left: -2.9423828125em;
  color: rgb(196, 64, 62);
}
.aw-icon-criar-doc:before {
  content: '\e900';
}
.aw-icon-imprimir .path1:before {
  content: '\e901';
  color: rgb(60, 60, 60);
}
.aw-icon-imprimir .path2:before {
  content: '\e902';
  margin-left: -0.94140625em;
  color: none;
}
.aw-icon-imprimir .path3:before {
  content: '\e903';
  margin-left: -0.94140625em;
  color: rgb(60, 60, 60);
}
.aw-icon-imprimir .path4:before {
  content: '\e904';
  margin-left: -0.94140625em;
  color: rgb(60, 60, 60);
}
.aw-icon-imprimir .path5:before {
  content: '\e905';
  margin-left: -0.94140625em;
  color: rgb(255, 255, 255);
}
.aw-icon-imprimir .path6:before {
  content: '\e906';
  margin-left: -0.94140625em;
  color: rgb(255, 255, 255);
}
.aw-icon-imprimir .path7:before {
  content: '\e907';
  margin-left: -0.94140625em;
  color: none;
}
.aw-icon-abrir-budget:before {
  content: '\e908';
}
.aw-icon-revisar-budget .path1:before {
  content: '\e909';
  color: rgb(255, 255, 255);
}
.aw-icon-revisar-budget .path2:before {
  content: '\e90a';
  margin-left: -1.1337890625em;
  color: rgb(60, 60, 60);
}
.aw-icon-revisar-budget .path3:before {
  content: '\e90b';
  margin-left: -1.1337890625em;
  color: rgb(60, 60, 60);
}
.aw-icon-revisar-budget .path4:before {
  content: '\e90c';
  margin-left: -1.1337890625em;
  color: rgb(60, 60, 60);
}
.aw-icon-revisar-budget .path5:before {
  content: '\e90d';
  margin-left: -1.1337890625em;
  color: rgb(60, 60, 60);
}
.aw-icon-revisar-budget .path6:before {
  content: '\e90e';
  margin-left: -1.1337890625em;
  color: rgb(255, 255, 255);
}
.aw-icon-revisar-budget .path7:before {
  content: '\e90f';
  margin-left: -1.1337890625em;
  color: rgb(60, 60, 60);
}
.aw-icon-engrenagem:before {
  content: '\e910';
}
.aw-icon-duplicate:before {
  content: '\e934';
}
.aw-icon-calendar-x .path1:before {
  content: '\e935';
  color: rgb(60, 60, 60);
  opacity: 0.5;
}
.aw-icon-calendar-x .path2:before {
  content: '\e936';
  margin-left: -1.2861328125em;
  color: rgb(251, 37, 37);
}
.aw-icon-calendar-check .path1:before {
  content: '\e937';
  color: rgb(60, 60, 60);
  opacity: 0.5;
}
.aw-icon-calendar-check .path2:before {
  content: '\e938';
  margin-left: -1.1875em;
  color: rgb(0, 212, 108);
}
.aw-icon-seta-cima-clara:before {
  content: '\e939';
  color: #9ea1ae;
}
.aw-icon-seta-baixo-clara:before {
  content: '\e93a';
  color: #9ea1ae;
}
.aw-icon-seta-esquerda:before {
  content: '\e93b';
}
.aw-icon-seta-direita:before {
  content: '\e93c';
}
.aw-icon-circulo-vermelho:before {
  content: '\e93e';
  color: #fb2525;
}
.aw-icon-alerta-cheio:before {
  content: '\e93f';
  color: #f7bd00;
}
.aw-icon-erro:before {
  content: '\e93d';
  color: #fb2525;
}
.aw-icon-alerta:before {
  content: '\e940';
  color: #f7bd00;
}
.aw-icon-sucesso:before {
  content: '\e941';
  color: #00d46c;
}
.aw-icon-retangulo-cinza:before {
  content: '\e942';
  color: #f2f5f7;
}
.aw-icon-retangulo-azul:before {
  content: '\e943';
  color: #019bcf;
}
