<div class="container">
    <h1>{{ heroDetails?.name }}</h1>
    <p><a [routerLink]="['../']">heroes </a> > {{ heroDetails?.name }}</p>

    <div class="grid-container">
        <div class="grid-item">
            <img [src]="heroDetails?.thumbnail?.path + '.' + heroDetails?.thumbnail?.extension" />
        </div>
        <div class="grid-item">
            <h3>{{ heroDetails?.name }}</h3>

            <p>Series</p>
            <ul>
                <li *ngFor="let serie of heroDetails?.series?.items; let i = index">
                    {{ serie?.name }}
                </li>
            </ul>
            <button class="btn-secondary" [routerLink]="['../']">voltar para lista</button>
        </div>
      </div>
</div>
