@import 'variables';


@import 'variables';

$spacing: 5px;

.toolbar {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: $light-gray-alt;
    font-weight: 600;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    color: $light-gray-alt;
    margin: {
        right: 0;
        left: auto;
    }
    
    & .nav-link {
        padding: .25rem 0;
        font-weight: 500;
        color: $light-gray-alt;
        background-color: transparent;
        border-bottom: .25rem solid transparent;
        display: block;
        padding: .5rem 1rem;
    }
    & :hover{
        cursor: pointer;
        color: #b3b2b2;
    }
}

@media (max-width: 350px){
    h3{
        font-size: $font-size-sm;
    }
    
    .nav{
        & .nav-link {
            font-size: $extra-small-font-size;
            padding: .1rem 0.3rem;
        }
    }
}