<div class="container toolbar" role="banner">
    <h3>Marvel Challenger</h3>

    <nav class="nav">
        <a class="nav-link active" href="home">Home</a>
        <a class="nav-link" href="heroes">Heroes</a>
    </nav>
</div>