@import 'variables';

.footer{
    position: relative;
    z-index: 10;
    margin-top: $spacing * 4;
    margin-bottom: $spacing * 4;
    text-align: center;
    color: $secondary;
    bottom: 0;
    align-content: center;
}