
@import 'assets/scss/webfonts/roboto/roboto';
@import 'assets/scss/custom/variables';

body {
    margin: 0;
    font: {
        family: $font-family-base;
        size: $font-size-base;
        color: $light-gray-alt;
    }

    .container {
        max-width: 960px;
        padding: {
            right: 15px;
            left: 15px;
        }
        margin: {
            right: auto;
            left: auto;
        }
    }

    .btn-primary {
        background: transparent;
        border-radius: $spacing * 5;
        border: 1px solid $primary;
        padding: $spacing $spacing * 8;
        color: $primary;
        cursor: pointer;
    }

    .btn-secondary {
        background: $red;
        width: 100%;
        border-radius: 5px;
        border: none;
        padding: $spacing $spacing * 8;
        color: white;
        cursor: pointer;
    }
}

.title {
    font: {
        family: 'Shadows Into Light', cursive;
        style: italic;
        weight: 100;
    }
    margin: $spacing;
    color: $primary;

    small {
        font-size: 18px;
    }
}

.primary {
    font-size: $font-size-base * 4;
}

.secondary {
    font-size: $font-size-base * 2;
}