@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.container {
    margin-top: 120px;
    align-items: center;
    color: $secondary;
    font-family: 'Shadows Into Light', cursive;
    font-size: $font-size-lg;

    .grid-container {
        display: grid;
        grid-column-gap: 50px;
        grid-row-gap: 20px;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
      
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid $secondary;
        border-radius: 5px;
        padding: $spacing;
        font-size: $font-size-lg;
        text-align: center;

        img {
            height: 205px;
        }
    }
}

::ng-deep{
    .footer {
        display: block;
    }
}


@media (max-width: 400px){
    .grid-container {
        grid-template-columns: 100% !important;
    }
}