<div class="container">
    <h1>Conheça os heróis do universo Marvel</h1>
    <p>Para conhecer melhor os personagens, clique em detalhes</p>

    <div class="grid-container">
        <div class="grid-item"
         *ngFor="let hero of heroes; let i = index">
            <img [src]="hero?.thumbnail.path + '.' + hero?.thumbnail.extension" />

            <p>{{ hero?.name }}</p>
            <button class="btn-secondary" [routerLink]="[hero?.id]">Detalhes</button>
        </div>
      </div>
</div>
