$body-bg: #fafafa;
$body-color: #3b3e41;

//colors
$red: #960404;
$gray: #3c3c3c;
$light-gray: #f2f5f7;
$light-gray-alt: #cecece;
$grey-light: #979797;

$bluey-grey: #9ea1ae;
$primary: $light-gray-alt;
$secondary: #787878;

$border-radius: 3px;

// Typography
$font-family-base: Roboto;
$font-size-base: 0.875rem; //14px
$small-font-size: 0.75rem; //12px
$extra-small-font-size: 0.6rem; //8.4px
$font-size-lg: $font-size-base * 1.25 !default; //15.26px
$font-size-sm: $font-size-base * 0.875 !default; //10.71px

$headings-font-family: $font-family-base;
$headings-color: $gray;
$h1-font-size: $font-size-base * 2 !default; // 28px
$h2-font-size: $font-size-base * 1.57 !default; // 22px
$h3-font-size: $font-size-base * 1.42 !default; //20px
$h4-font-size: $font-size-base * 1.286 !default; //18px
$h5-font-size: $font-size-base * 1.14 !default; //16px
$h6-font-size: $font-size-base !default; //14px
$font-size-normal: 1rem;

$font-style-italic: italic;

// Custom Spaces
$spacing: 10px;
