<div>
  <section class="section-home">
    <div class="container">
        
        <h1 class="title primary">Quem sou eu?</h1>
        <p>Sou conhecido não por possuir super poderes, mas por conseguir ajudar as pessoas com o uso da tecnologia. </p>
        <p>As vezes falo sozinho com as minhas invenções, as vezes crio inumeros protótipos para chegar ao desenvolvimento ideal.. </p>
        <p>e mesmo não tendo poderes eu amo mil milhões trabalhar com tecnologia.</p>
        
        <h3 class="title secondary">Eu sou o homem de ferro!</h3>
        <h3 class="title secondary">
            <small>brincandeira.. eu sou o Cristhian! kkk</small>
        </h3>
        <br>

        <p>Para visualizar os heróis de verdade</p>
        <button class="btn-primary" [routerLink]="['../heroes']">Clique Aqui</button>
    </div>
  </section>
</div>