@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.section-home {
    background: url('../../assets/img/bg-home.png'); 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
    font-size: $font-size-lg;
    text-align: center;

    .container {
        margin-top: 120px;
        align-items: center;
        color: $primary;
    }
}

::ng-deep{
    .footer {
        display: none;
    }
}
